[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
openai = "*"
replicate = "*"
transformers = "*"
scipy = "*"
pydantic = "*"
requests = "*"
pygithub = "*"
sqlalchemy = "==1.4"
snowflake-sqlalchemy = "*"
snowflake-snowpark-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
